/* PHASE 8: Thumbs */
.profile-photo-thumbnails > li {
    float: left;
    width: 60px;
    margin-bottom: 10px;
}

.profile-photo-thumbnails > li:nth-child(3n-1) { /* takes in middle thumbnail: 2, 5, 8 */
    margin: 0 10px 10px 10px;
}

.thumb {
    display: block;
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 5px;
}

.thumb:before {
    content: "";
    display: block;
    position: absolute;
    /* The left percentage is relative to its parent, 
    and will set the current element's left most pixel to half its parent width. 
    Since this is too far to the left, we have to adjust this by subtracting half our own width. */
    left: 50%;
    transform: translateX(-50%);
    top: -7px;
    border-top: 5px solid #000;
    border-bottom: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.thumb:after {  
    content: attr(title);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

.thumb > img {
    border-radius: 5px;
}

.thumb:hover:before,
.thumb:hover:after {
    display: block;
}